@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  pointer: cursor;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Slab", serif;
  color: #000;
  transition: all 2s ease-in-out 0.4s;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: #a88e8a;
}

/*.container .row {
  flex-direction: column;
}*/

/* THE NAVIGATION */

.heading {
  box-sizing: border-box;
  width: 100vw;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

/*.bar,
.close {
  display: none;
}

.heading .menu li a {
  font-weight: 600;
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.heading .menu li a:hover {
  background: #a88e8a;
  color: #fff;
}*/

/* THE LOGO & HOME */

.home {
  width: 90%;
}

.home .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo .image {
  width: 65%;
  height: 65%;
  border-radius: 50%;
}

.title,
.subtitle,
.description {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.description {
  font-size: 14px;
}

/* THE ABOUT */

.about {
  width: 90%;
}

.about .about-image {
  background: #a88e8a;
  width: 57%;
  height: 57%;
  border: 1px solid #a88e8a;
  border-radius: 15px 15px 0 0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.about .about-image img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  transition: 1s ease-out;
}

.about .about-image:hover img {
  transform: scale(1.1);
}

/* THE SKILLS */

.skills {
  width: 90%;
}

.my-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
  margin-top: 40px;
}

.percent {
  opacity: 0.52;
}

.size {
  opacity: 0.5;
  font-weight: 500;
  margin-left: 3px;
}

.progress {
  border: 1px solid #66ddaa;
  width: 100%;
  height: 7px;
}

.html {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 85%;
}

.css {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 79%;
}

.javascript {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 70%;
}

.bootstrap {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 68%;
}

.jquery {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 50%;
}

.react {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 50%;
}

.sql {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 60%;
}

.projectco {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 70%;
}

.timemanage {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 80%;
}

.communication {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 90%;
}

.teamwork {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 85%;
}

.skills .parent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills .child {
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.skills .child span {
  font-weight: 600;
  color: #6c4f70;
}

.experience .child i {
  font-size: 28px;
  opacity: 0.6;
}

.experience .parent .child:nth-child(1) {
  background: #ff7f50;
}

.experience .parent .child:nth-child(2) {
  background: #7aff52;
}

.experience .parent .child:nth-child(3) {
  background: #52d1ff;
}

/*THE SERVICES */

.services {
  width: 90%;
}

.services .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services .container .item {
  width: 90%;
  height: 65%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.item .description {
  color: #6c4f70;
  cursor: pointer;
}

.services .container .item:nth-child(1) {
  background-image: url("https://dl.dropbox.com/scl/fi/h2qjchcu5r209ky3lefbr/services1.jpg?rlkey=q0pksvo0g69a50lcwtgx7xui6&dl=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .container .item:nth-child(2) {
  background-image: url("https://dl.dropbox.com/scl/fi/035tyyyz46aerww2zq3yy/services2.jpg?rlkey=qrrrh8vzxr6idwwuegj1vf03m&dl=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .container .item:nth-child(3) {
  background-image: url("https://dl.dropbox.com/scl/fi/zaojcyybifiyil8p4r2ba/services3.jpg?rlkey=odwythlpocvbj74wnk6jq4ijl&dl=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* THE PORTFOLIO */

.portfolio {
  width: 90%;
}

.portfolio .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio .container .box {
  width: 47%;
  height: 270px;
  border-radius: 3px;
  margin: 20px auto;
}

.box .image-project {
  width: 100%;
  height: 220px;
}

.portfolio .container .box img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: 1s ease-out;
}

.portfolio .container .box:hover img {
  transform: scale(1.2);
}

.portfolio .container .box .description {
  font-weight: 700;
  color: #a88e8a;
  font-size: 10px;
  cursor: pointer;
}

/* THE CONTACT */

.contact .contact-item .subtitle a {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.7;
  text-decoration: none;
}

.contact .contact-item .subtitle {
  background: rgba(168, 142, 138, 0.2);
  border: 1px solid rgba(168, 142, 138, 0.18);
  border-radius: 4px;
  backdrop-filter: blur(11px);
  box-shadow: 2px 2px 5px rgba(168, 142, 138, 0.25);
  display: flex;
  align-items: center;
  width: 80%;
  height: 40px;
  color: #000;
  font-size: 17px;
  font-weight: 700;
  opacity: 0.7;
  cursor: pointer;
}

.contact {
  width: 90%;
}

.contact .contact-item .subtitle a:hover {
  background: #a88e8a;
}

::placeholder {
  font-size: 65%;
}

.contact .contact-item {
  line-height: 1px;
}

input {
  width: 200px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

input:focus {
  border-color: #bbb; /* Change border color on focus */
}

textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

textarea:focus {
  border-color: #bbb; /* Change border color on focus */
}

form button {
  background: #a88e8a;
  width: 200px;
  height: 40px;
  border: 5px solid #a88e8a;
}

/* THE FOOTER */

footer .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .icon-container .icon-item {
  background: rgba(168, 142, 138, 0.2);
  border: 1px solid rgba(168, 142, 138, 0.18);
  border-radius: 50%;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 5px rgba(168, 142, 138, 0.25);
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .icon-container .icon-item i {
  color: #fff;
}

/*FOR MOBILE VIEW*/

@media screen and (max-width: 560px) {
  .contact .contact-item .subtitle a {
    font-size: 12px;
  }

  .contact .contact-item .subtitle {
    font-size: 12px;
  }
}

/* FOR BIGGER SCREEN VIEW */

@media screen and (min-width: 560px) {
  .heading .menu ul {
    margin: 10px 0;
  }

  .heading .menu ul li {
    display: inline;
  }

  .heading .menu li i {
    display: none;
  }

  .services .container .item {
    width: 40%;
    height: 30%;
  }
}

.first-scroll,
.second-scroll,
.third-scroll,
.fifth-scroll {
  opacity: 0;
  transform: scale(0.1);
  transition: all 0.9s ease-in-out;
}

.scroll {
  opacity: 1;
  transform: scale(1);
}

.fourth-scroll,
.fifth-scroll {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

.for-scroll {
  opacity: 1;
  transform: translateX(0%);
}
