@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #f5f5dc;
  font-family: "Roboto Slab", serif;
  color: #333333;
  transition: all 2s ease-in-out 0.4s;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  /*color: #a88e8a;*/
  color: #ce2029;
}

/*.container .row {
  flex-direction: column;
}*/

/* THE NAVIGATION */

nav .mylogo {
  color: #ce2029;
  font-weight: 600;
}

nav .mylogo:hover {
  color: #a8141e;
}

.heading {
  background: #f5f5dc;
  box-sizing: border-box;
  width: 100vw;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;*/
  font-size: 14px;
  cursor: pointer;
}
/*.bar,
.close {
  display: none;
}

.heading .menu li a {
  font-weight: 600;
  color: #000;
  font-size: 12px;
  text-decoration: none;
}*/

.heading li a:hover {
  color: #ce2029;
  font-weight: 700;
}

section {
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* THE LOGO & HOME */

.home {
  width: 90%;
  cursor: pointer;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo .image {
  width: 200px; /* Set a specific width */
  height: 200px; /* Set a specific height */
  border-radius: 50%; /* Circle shape */
  border: 5px solid #ff4d4d; /* Light border to match your theme */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  object-fit: cover; /* Ensures the image fills the circle without distortion */
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.logo .image:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.title,
.subtitle,
.description {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.title {
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: 900;
}

.subtitle {
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.description {
  font-size: 14px;
}

/* THE ABOUT */

.about {
  width: 90%;
  min-height: 100vh;
}

.about .about-image {
  width: 250px; /* Set specific width */
  height: 250px; /* Set specific height */
  background: #ff4d4d;
  border: 1px solid #ff4d4d;
  border-radius: 15px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.about .about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease-out;
}

.about .about-image:hover img {
  transform: scale(1.1);
}

.about .about-image:hover {
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
}

/* THE SKILLS */

.skills {
  width: 90%;
}

.my-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my-skills .btn {
  margin: 10px 10px;
  padding: 10px 20px;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 8px;
}

.btn-outline-success {
  background-color: transparent; /* Default transparent background */
 border-color: #6c757d; /* Default border color */
  color: #6c757d; /* Default text color */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.btn-outline-success:hover {
  background-color: #a8141e; /* Background color on hover */
  border-color: #a8141e; /* Border color on hover */
  color: white; /* Text color on hover */
  box-shadow: 0px 8px 12px rgba(168, 20, 30, 0.3); /* Elevated shadow on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

.experience {
  width: 90%;
  text-align: center;
}

.experience .parent {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.experience .child {
  flex: 1 1 calc(30% - 20px);
  min-height: 150px;
  background: white;
  border: 1px solid #ce2029;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.experience .child:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.experience .child span {
  font-weight: 700;
  font-size: 24px;
  color: #ce2029;
}

.experience .child i {
  font-size: 32px;
  color: #ff4d4d;
  margin-top: 10px;
}

.experience .child p {
  font-weight: 500;
  color: #6c757d;
  margin-top: 8px;
}

.experience .parent .child:nth-child(1) {
  background-color: rgba(255, 77, 77, 0.1);
}

.experience .parent .child:nth-child(2) {
  background-color: rgba(255, 77, 77, 0.1);
}

.experience .parent .child:nth-child(3) {
  background-color: rgba(255, 77, 77, 0.1);
}

/*THE SERVICES */

.services {
  width: 90%;
  cursor: pointer;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.services .container .item {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 18rem;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.services .container .item:nth-child(1) {
  background-image: url("https://dl.dropbox.com/scl/fi/h2qjchcu5r209ky3lefbr/services1.jpg?rlkey=q0pksvo0g69a50lcwtgx7xui6&dl=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .container .item:nth-child(2) {
  background-image: url("https://dl.dropbox.com/scl/fi/r1dzo62v5zz356yt7bu2o/services-1.png?rlkey=f2v6djxnj61qxem4vtevhjn61&dl=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .container .item:nth-child(3) {
  background-image: url("https://dl.dropbox.com/scl/fi/3raugizqsltu7w1ocktww/services.jpg?rlkey=5ycc06whyw7v1g7qttu9dcur7&dl=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .container .item:nth-child(4) {
  background-image: url("https://dl.dropbox.com/scl/fi/ssbkwuby8iubwaokl9f3n/services.png?rlkey=0ixd4qzt4tqtt52nlssavphfr&dl=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .container .item:nth-child(5) {
  background-image: url("https://dl.dropbox.com/scl/fi/rql2vrhm6jhdtj10jm4tx/Services-2.png?rlkey=ksde4twkqyh8ec81gmx1ri6zn&dl=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .container .item:nth-child(6) {
  background-image: url("https://dl.dropbox.com/scl/fi/8x8qxo33hy6q28eprja1a/Services-1.png?rlkey=cpr5h1dc9omjyldfun1du5mdi&dl=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .container .item:nth-child(7) {
  background-image: url("https://dl.dropbox.com/scl/fi/o40q4wmb7nbrbuy8cb9uk/services4.jpg?rlkey=yaymt0n4q2pi2fxwsgn43rzqy&dl=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .item .glass {
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 30px;
  right: 25px;
  left: 25px;
  background: rgba(255, 255, 255, 0.76);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services .item .glass:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.services .item .glass i {
  font-size: 40px;
  color: #ce2029;
  margin-bottom: 15px;
}

.services .container .item .glass h4 {
  color: #8b0000;
  font-size: 19px;
  margin-bottom: 15px;
}

.services .item .glass p {
  font-size: 13px;
  color: #333333;
}

/* THE PORTFOLIO */

.portfolio {
  width: 90%;
}

.portfolio .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio .container .box {
  width: 47%;
  min-height: 300px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex; /* Flexbox for layout */
  flex-direction: column; /* Stack image and description vertically */
}

.portfolio .container .box:hover {
  transform: translateY(-5px); /* Subtle lift effect on hover */
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.box .image-project {
  width: 100%;
  height: 380px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /*margin-bottom: 5px;*/
  overflow: hidden;
}

.portfolio .container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s ease-out;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.portfolio .container .box:hover img {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.portfolio .container .box .description {
  font-weight: 700;
  color: #555;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

/* THE CONTACT */

.contact .contact-item .subtitle a {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.contact .contact-item .subtitle {
  background: rgba(244, 194, 194, 0.5);
  border: 1px solid #f4c2c2;
  border-radius: 5px;
  backdrop-filter: blur(1.9px);
  box-shadow: 0 8px 32px rgba(244, 194, 194, 0.5);
  display: flex;
  align-items: center;
  width: 80%;
  height: 40px;
  color: #000;
  font-size: 17px;
  font-weight: 700;
  opacity: 0.7;
  cursor: pointer;
}

.contact {
  width: 90%;
}

.contact .contact-item .subtitle a:hover {
  color: #a8141e;
}

::placeholder {
  font-size: 65%;
}

.contact .contact-item {
  line-height: 1px;
}

input {
  width: 200px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

input:focus {
  border-color: #bbb; /* Change border color on focus */
}

textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

textarea:focus {
  border-color: #bbb; /* Change border color on focus */
}

form button {
  background: #ce2029;
  width: 200px;
  height: 40px;
  border: 1px solid #ce2029;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background: #a8141e;
  border: 1px solid #a8141e;
}

/* THE FOOTER */

footer {
  background: #f5f5dc;
  border-top: 1px solid transparent;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

footer .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .icon-container .icon-item {
  /*background: rgba(168, 142, 138, 0.2);
  border: 1px solid rgba(168, 142, 138, 0.18);
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 5px rgba(168, 142, 138, 0.25); */
  border-radius: 50%;
  background-color: rgba(206, 32, 41, 0.8 /*51, 51, 51, 0.5*/);
  box-shadow: 2px 2px 5px rgba(206, 32, 41, 0.8 /*51, 51, 51, 0.5*/);
  border: 1px solid rgba(206, 32, 41, 0.5 /*51, 51, 51, 0.3*/);

  backdrop-filter: blur(10px);
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .icon-container .icon-item i {
  color: #fff;
}

/*FOR MOBILE VIEW*/

@media screen and (max-width: 560px) {
  .my-skills .btn {
    width: 100%;
    font-size: 12px;
  }

  .portfolio .container .box {
    width: 100%;
  }

  .contact .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact .contact-item .subtitle a {
    font-size: 12px;
  }

  .contact .contact-item .subtitle {
    font-size: 12px;
  }
  
  form button{
margin-left: 50px;
    margin-right: 50px;
}

}

/* FOR BIGGER SCREEN VIEW */

@media screen and (min-width: 560px) {
  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-brand {
    padding-left: 15px;
  }

  /*.heading .menu ul {
    margin: 10px 0;
  }

  .heading .menu ul li {
    display: inline;
  }

  .heading .menu li i {
    display: none;
  }*/

  .logo .image {
    width: 250px;
    height: 250px;
  }
}

.second-scroll {
  opacity: 0;
  transform: scale(0.1);
  transition: all 0.7s ease-in-out;
}

.scroll {
  opacity: 1;
  transform: scale(1);
}

.first-scroll,
.third-scroll,
.fourth-scroll,
.fifth-scroll {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

.for-scroll {
  opacity: 1;
  transform: translateX(0%);
}

.last-scroll {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
}

.left-scroll {
  opacity: 1;
  transform: translateX(0%);
}
