@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  pointer: cursor;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Slab", serif;
  background: #fff;
  color: #000;
  transition: all 2s ease-in-out 0.4s;
  overflow-x: hidden;
}

.margin-left {
  width: 75%;
  margin-top: 8rem;
  transform: translateX(35%);
}

h1,
h2,
h3,
h4 {
  color: #a88e8a;
}

/* THE NAVIGATION */

.heading {
  box-sizing: border-box;
  width: 100vw;
}

.bar,
.close {
  display: none;
}

.heading .menu ul {
  margin-top: 13rem;
}

.heading .menu li {
  border-bottom: 1px solid #a88e8a;
  width: 70%;
  margin: 3rem 1rem;
  font-size: 15px;
  text-align: center;
}

.heading .menu li a {
  font-weight: 600;
  color: #000;
}

li:hover {
  background: #a88e8a;
}

main {
  box-sizing: border-box;
  width: 90vw;
  margin: auto 30px;
}

/* THE LOGO & HOME */

.home {
  height: 100vh;
  margin-top: 12rem;
}

.logo .image {
  width: 120px;
  height: 130px;
  border-radius: 50%;
  margin-left: 45%;
}

.title,
.subtitle,
.description {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.description {
  font-size: 14px;
}

/* THE ABOUT */

.about .about-image {
  background: #a88e8a;
  width: 40%;
  height: 50%;
  border: 1px solid #a88e8a;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-left: 30%;
  margin-bottom: 8%;
}

.about .about-image img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  transition: 1s ease-out;
}

.about .about-image:hover img {
  transform: scale(1.2);
}

/* THE SKILLS */

.skills {
  box-sizing: border-box;
  position: relative;
  z-index: -1;
  cursor: pointer;
}

.my-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
  margin-top: 40px;
}

.percent {
  opacity: 0.52;
}

.size {
  opacity: 0.5;
  font-weight: 500;
  margin-left: 3px;
}

.progress {
  border: 1px solid #66ddaa;
  width: 100%;
  height: 7px;
}

.html {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 97%;
}

.css {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 90%;
}

.javascript {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 80%;
}

.jquery {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 80%;
}

.react {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 50%;
}

.sql {
  border: none;
  background: #66ddaa;
  height: 5px;
  width: 65%;
}

.skills .experience {
  margin-top: 5rem;
  overflow: hidden;
}

.skills .parent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills .child {
  width: 100px;
  height: 100px;
  border: 1px solid none;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 18px 0;
}

.skills .child span {
  font-weight: 600;
  color: #6c4f70;
}

/*THE SERVICES */

.item {
  height: auto;
  border: 1px solid none;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) /*3px 3px 5px rgba(0,0,0,.5)*/;
}

.item .description {
  color: #6c4f70;
  padding: 30px 0;
  cursor: pointer;
}

.item .subtitle {
  padding: 10px 0;
  cursor: pointer;
}

/* THE PORTFOLIO */

.portfolio .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio .container .box {
  width: 30%;
  height: 40%;
  border: 1px solid #a88e8a;
  border-radius: 10px;
  margin: 20px auto;
}

.portfolio .container .box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: 1s ease-out;
}

.portfolio .container .box:hover img {
  transform: scale(1.2);
}

.portfolio .container .box .description {
  font-weight: 700;
  color: #a88e8a;
  cursor: pointer;
}

/* THE CONTACT */

.contact .contact-item .subtitle a {
  color: #000;
  font-size: 17px;
}

.contact .contact-item .subtitle {
  color: #000;
  font-size: 17px;
  cursor: pointer;
}

.contact .contact-item .subtitle a:hover {
  background: #a88e8a;
}

.contact .contact-item {
  width: 100%;
  line-height: 1px;
}

/* THE FOOTER */

footer {
  box-sizing: border-box;
  margin-left: 5%;
}

footer .icon-container {
  background: rgba(168, 142, 138, 0.17);
  width: 65%;
  height: 50px;
  border: 1px solid rgba(168, 142, 138, 0.15);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 5px rgba(168, 142, 138, 0.17);
  /*display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 8px;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 8%;
}

footer .icon-container .icon-item {
  background: rgba(168, 142, 138, 0.2);
  border: 1px solid rgba(168, 142, 138, 0.18);
  border-radius: 4px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 5px rgba(168, 142, 138, 0.25);
  width: 10%;
  text-align: center;
}

footer .icon-container .icon-item i {
  color: #fff;
}

/*FOR MOBILE VIEW*/

@media screen and (max-width: 560px) {
  .margin-left {
    box-sizing: border-box;
    width: 80vw;
    transform: translateX(2%);
  }

  .bar,
  .close {
    display: initial;
    opacity: 0.5;
  }

  .heading {
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
  }

  .heading .menu {
    background: #ffffff;
    width: 35%;
    height: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: -35%;
    bottom: 0;
    transition: 0.6s ease;
  }

  .menu.active {
    left: 0;
  }

  .heading .menu ul {
    margin: 5rem auto;
  }

  .heading .menu li {
    border-bottom: 1px solid #a88e8a;
    width: 70%;
    margin: 2rem auto;
    font-size: 15px;
  }

  .heading .menu li a {
    font-weight: 600;
    color: #000;
  }

  .home {
    height: 100vh;
    position: relative;
    bottom: -20vh;
  }

  .logo .image {
    width: 120px;
    height: 130px;
    border-radius: 50%;
    margin-left: 30%;
  }

  .contact .contact-item .subtitle a {
    font-size: 12px;
  }

  .contact .contact-item .subtitle {
    font-size: 12px;
  }

  footer {
    margin-left: 3%;
  }

  footer .icon-container {
    background: rgba(168, 142, 138, 0.17);
    width: 100%;
    height: 60px;
    border: 1px solid rgba(168, 142, 138, 0.15);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgba(168, 142, 138, 0.17);
    /*display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 8px;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  footer .icon-container .icon-item {
    width: 40px;
  }

  footer .icon-container .icon-item i {
    color: #fff;
  }
}

/* FOR BIGGER SCREEN VIEW */

@media screen and (min-width: 560px) {
  .heading {
    box-sizing: border-box;
    width: 100vw;
  }

  .heading .menu {
    background: #fff;
    width: 20%;
    height: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
  }

  .home {
    margin-bottom: 4rem;
  }

  .services .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .services .container .item {
    width: 45%;
    height: 30%;
  }

  .portfolio .container .box {
    width: 20%;
    height: 30%;
  }
}

.first-scroll,
.second-scroll,
.third-scroll,
.fifth-scroll,
.sixth-scroll {
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

.scroll {
  opacity: 1;
  transform: scale(1);
}

.fourth-scroll {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

.for-scroll {
  opacity: 1;
  transform: translateX(0%);
}
